/* Importation de la police */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* En-tête */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Gris très clair */
    padding: 10px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-info {
    display: flex;
    align-items: center;
}

.phone-info {
    display: flex;
    align-items: center;
}

.phone-icon {
    font-size: 18px;
    color: #2A2A72; /* Bleu foncé */
    margin-right: 5px;
}

.phone-number {
    font-size: 16px;
    color: #2A2A72;
    font-weight: 600;
    text-decoration: none;
}

/* Bouton hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: auto;
}
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: black; /* Barres noires */
    margin: 4px 0;
}

/* Barre de menu pour desktop */
.navbar {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: white;
    padding: 8px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #2A2A72;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar .icon {
    margin-right: 5px;
}

/* Menu latéral pour mobile */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1001;
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}
.sidebar li {
    padding: 10px 20px;
}
.sidebar a {
    color: #2A2A72;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.sidebar .icon {
    margin-right: 5px;
}

/* Bouton de fermeture */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #2A2A72;
}

/* Médias queries pour mobile */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Masquer le menu desktop sur mobile */
    }
    .menu-toggle {
        display: flex; /* Afficher le bouton hamburger sur mobile */
    }
    .header {
        justify-content: start;
    }
    .contact-info {
        margin-left: auto;
    }
}
